@font-face {
  font-family: main;
  src: url(assets/gotham-Bold.ttf);
}

@font-face {
  font-family: title;
  src: url(assets/FontsFree-Net-HelveticaNeueBold.ttf);
}

@font-face {
  font-family: description;
  src: url(assets/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: location;
  src: url(assets/Helvetica-Neue-LT-23-Ultra-Light-Extended.ttf);
}

@font-face {
  font-family: price;
  src: url(assets/Gotham-Rounded-Light.otf);
}

:root {
  --color1: #d35266;
  --color2: #888;
  --color3: #383838;
}

body {
  background-color: #fff;
  margin: auto 0;
}

nav {
  background: var(--color3);
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
}

nav div {
  margin: auto 10px;
  text-transform: uppercase;
}

nav a {
  color: #fff;
  margin: auto 10px;
}

.home {
  color: var(--color1);
}

nav img {
  border-radius: 50%;
}

.welcome {
  margin-top: 40px;
  background: var(--color1);
}

.welcome h1 {
  font-family: main, sans-serif;
}

.welcome h4 {
  font-family: price, sans-serif;
}

.welcome select,
.welcome input,
.welcome button {
  font-family: description, sans-serif;
  margin-left: 2px;
  padding: 12px;
}

.welcome button {
  background: var(--color3);
  color: #fff;
}

.main-content {
  display: flex;
  justify-content: space-between;
  background-color: var(--color2);
}

.inventory {
  width: 23%;
  margin: 10px auto;
}

legend {
  border-bottom: 1px solid var(--color3);
  font-family: title, sans-serif;
}

.inventory input {
  display: block;
  padding: 10px;
  font-family: description, sans-serif;
}

legend span {
  display: inline-block;
  font-family: description, sans-serif;
}

.search-result {
  margin: auto 10px;
  width: 70%;
  border-left: 1px solid var(--color3);
}

.search-result article {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid var(--color3);
}

.footer1-details span {
  text-transform: uppercase;
  color: var(--color1);
  display: inline-block;
  margin-right: 5px;
}

.search-result p span,
.search-result q {
  font-family: title, sans-serif;
}

.search-result h5 {
  font-family: main, sans-serif;
  color: var(--color1);
}

.search-result img {
  max-width: 200px;
  height: 200px;
  margin-right: 20px;
}

.search-result h4 {
  font-family: description, sans-serif;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action button {
  background: var(--color1);
  font-family: description, sans-serif;
  color: #fff;
  padding: 7px;
  margin-right: 20px;
}

footer {
  color: var(--color2);
  font-family: description, sans-serif;
}

.footer-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.footer-1 > div {
  margin: 10px 10px;
}

.footer-1 h5 {
  text-transform: capitalize;
  color: var(--color1);
}

.footer-1 li {
  margin-left: -40px;
  list-style: none;
}

.footer1-details {
  padding-top: 40px;
}

.footer1-details input {
  display: block;
  margin-top: 5px;
}

.footer-2 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color2);
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-2 .iconify {
  color: var(--color1);
  margin-left: 10px;
}
