@font-face {
  font-family: main;
  src: url(assets/gotham-Bold.ttf);
}

@font-face {
  font-family: title;
  src: url(assets/FontsFree-Net-HelveticaNeueBold.ttf);
}

@font-face {
  font-family: description;
  src: url(assets/HelveticaNeue\ Medium.ttf);
}

@font-face {
  font-family: location;
  src: url(assets/Helvetica\ Neue\ LT\ 23\ Ultra\ Light\ Extended.ttf);
}

@font-face {
  font-family: price;
  src: url(assets/Gotham\ Rounded\ Light.otf);
}

:root {
  --color1: #d35266;
  --color2: #888;
  --color3: #383838;
}

body {
  background-color: #fff;
}

nav {
  background: var(--color3);
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 70px;
}

nav a {
  margin: auto 10px;
  text-transform: uppercase;
  color: #fff;
}

.iconify {
  display: inline-block;
  margin: auto 3px;
}

nav button {
  background: var(--color1);
  color: #fff;
  padding: 8px;
}

button a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: var(--color2);
}

.home {
  color: var(--color1);
}

nav img {
  border-radius: 50%;
}

.welcome {
  margin-top: 40px;
  background: var(--color1);
}

.welcome h1 {
  font-family: main;
}

.welcome h4 {
  font-family: price;
}

.welcome select,
.welcome input,
.welcome button {
  font-family: description;
  margin-left: 2px;
  padding: 12px;
}

.welcome button {
  background: var(--color3);
  color: #fff;
  margin-left: 10px;
}

section {
  background: var(--color2);
  padding-top: 10px;
  padding-bottom: 10px;
}

section h3 {
  font-family: title;
  text-transform: capitalize;
  margin-top: 15px;
}

section article div {
  background-color: #fff;
}

article {
  margin-top: 15px;
}

article img {
  width: 100%;
  height: 400px;
}

.art-description {
  padding-left: 10px;
}

.art-description h4 {
  font-family: description;
  color: var(--color2);
  text-transform: capitalize;
}

.art-description h5 {
  color: var(--color1);
  font-family: title;
}

.art-description div {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
}

.art-add {
  color: var(--color2);
  border: 1px solid var(--color2);
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
}

.art-price {
  color: var(--color1);
  margin-right: 30px;
  font-family: title;
}

footer {
  color: var(--color2);
  font-family: description;
}

.footer-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.footer-1 > div {
  margin: 10px 10px;
}

.footer-1 h5 {
  text-transform: capitalize;
  color: var(--color1);
}

.footer-1 li {
  margin-left: -40px;
  list-style: none;
}

.footer1-details {
  padding-top: 40px;
}

.footer1-details span {
  text-transform: uppercase;
  color: var(--color1);
  display: inline-block;
  margin-right: 5px;
}

.footer1-details input {
  display: block;
  margin-top: 5px;
}

.footer-2 {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--color2);
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-2 .iconify {
  color: var(--color1);
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .hot-ads {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hot-ads article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    grid-gap: 30px;
    margin-top: 15px;
    font-family: title;
    color: var(--color2);
  }

  .hot-ads img {
    height: 250px;
  }

  .hot-ads h4 {
    font-family: title;
    text-transform: capitalize;
    margin-top: 15px;
    color: var(--color1);
  }

  .hot-ads p span {
    color: var(--color3);
  }

  .hot-ads article div {
    background-color: #fff;
  }

  .hot-ads button {
    background: var(--color1);
    color: #fff;
    margin-left: 10px;
    font-family: description;

    padding: 12px;
  }

  section img {
    height: 250px;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav div {
    display: inline;
  }

  section img {
    height: 200px;
  }
}
